<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Item</title>
</head>
<body>
    <h1>You going to register an new Item</h1>
    <form action="/object/snobject" method="POST">
        <div><input type="text" name="name" placeholder="Name Object"></div>
        <div><input type="text" name="type" placeholder="Type of Object"></div>
        <div><input type="text" name="unit" placeholder="Unit for Object"></div>
        <div><input type="text" name="value" placeholder="Value for Object"></div>
        <div><input type="submit" value="Register"></div>
    </form>
</body>
</html>